header{
    height: 80px;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    font-size: 60px;
    font: bold;
    color: black
}

form{
    display: flex;
    cursor: pointer;
}

input{
    height: 20px;
}

.menu{
    display: flex;
    gap: 20px;
}

.menu h3{
    color: black;
    font: lighter;
    cursor: pointer;
    padding: 5px 10px;
}