.container{
    background-color: lightgreen;
    height: 643px;
    width: 1495px;
    max-width: 1495px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    font-family: sans-serif;
    padding-left: 100px;
    padding-top: 30px;
    width: 100%;
}