.container{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container{
    padding-left: 100px;
    padding-top: 50px;
    width: 100%;
}

.title-container h1{
    font-weight: bold;
    font-size: 45px;
    line-height: 90px;
    color: lightseagreen;
}